/*css del fondo del body*/
.container-fluid{
	height: 800px;
	background: rgba(29,233,182,0.2);
	
}

.espai {
	margin-top:20px;
}

.espai-formulari{
	margin-top: 40px;
}

/*css del formulari*/
.plantilla {
	background: white;
	border-radius: 25px;
	box-shadow: 10px 10px 10px gray;
}